<header class="header" role="banner">
    <div class="header-logo">
        <a href="/" title="Logo Dienst Uitvoering Onderwijs">
            <span class="screenreader-only">dienst uitvoering onderwijs, naar de homepage</span>
        </a>
    </div>
</header>